* {
  padding: 0;
  margin: 0;
}

#main-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

#get-scores {
  width: 40%;
}

#scores-heading {
  display: flex;
  justify-content: space-between;
}

#scores-table {
  border: 2px solid black;
  margin-top: 1rem;
}

#add-form-section {
  width: 40%;
}